# Ignore the zip file
*.zip

# Ignore the extracted CSVs
test.csv
train.csv
sample_submission.csv

# ignore the fix notebooks file
fix_notebooks.ipynb

# ignore the checkpoint folder
.ipynb_checkpoints/

# ignore the ipynb file because markdown outputs better
Kaggle Credit Card Fraud.ipynb